table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}
th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover,
.pagination-btn:hover {
  background-color: #e6e6e6;
}
.pagination-btn {
  margin: 10px;
  padding: 5px 10px;
  background-color: #d8d8d8;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 50px;
}
.pagination {
  text-align: center;
  height: 50px;
}
.pagination span {
  margin: 10px;
  padding: 5px 10px;
}
.size {
  text-align: center;
}
.station-row {
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}
.station-row:hover {
  transform: scale(1.02);
}
